# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances locales
node_modules
dist
dist-ssr

# Fichiers d’environnement
.env
.env.local

# Firebase
firebase-debug.log
.firebaserc

# Vite
.vite/

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
